.win-menu-layout{
    width:700px;
    height: 450px;
    position: fixed;
    bottom: 40px;
    border: 1px solid rgba(31,49,75,1);
}

.win-menu-left{
    width: 200px;
    height: 100%;
    float:left;
}
.win-menu-right{
    width: 500px;
    height: 100%;
    float:right;
}

.win-menu-layout .bg{
    background: rgba(13,56,92,1);
    opacity: 0.9;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.win-menu-layout ul{
    margin: 0px;
}

.win-menu-layout li:hover{
    background: rgba(15,24,29,0.5);
}

.win-menu-layout .app li{
    margin-top:5px
}

.win-menu-layout .app li img{
    width:25px;height:25px;float:left
}
.win-menu-layout .app li span{
    line-height:25px;margin-left:10px;
    color:#fff;font-size:13px;
}

.win-menu-layout .system li img{
    width:23px;height:23px;float:left
}
.win-menu-layout .system li span{
    line-height:23px;margin-left:10px;
    color:#fff;font-size:12px;
}
.win-menu-layout .app li{
    cursor: pointer;
}

.icon-block{
    width: 75px;
    float: left;
    height: 75px;
    margin-left:5px;
    margin-top:5px;
    background: rgba(0,120,216,1)
}

.icon-block-big{
    width: 155px;
    height: 75px;
    float: left;
    margin-left:5px;
    margin-top:5px;
    background: rgba(0,120,216,1)
}