
.dockbar-icon-img{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 25px 22px;
    margin-top: 8px;
    background-position-x: 13px;
    /*margin-left: 13px;*/
}

.dockbar-icon{
    float: left;
    width: 50px;
    height: 36px;
    border-image: url("images/dockbar/b1.png") 1 1 1 1 round;
    border-top: 0px;
    border-bottom: 2px solid;
}

.dockbar-icon:hover{
    transition: 0.2s linear;
    border-image: url("images/dockbar/b0.png") 1 1 1 1 round;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
}

.dockbar-icon-many {
    border-bottom: 2px solid;
    border-image: url("images/dockbar/db1.png") 1 1 1 1 round;
}

.dockbar-icon-many:hover{
    transition: 0.2s linear;
    border-image: url("images/dockbar/db0.png") 1 1 1 1 round;
    background:url("images/dockbar/bg9.png") ;
    background-repeat: none repeat scroll -10 0;
}




/*

.task-icon-many{
    border-image: url("../../resource/images/db1.png") 1 1 1 1 round;
}

.task-icon-many:hover{
    transition: 0.2s linear;
    border-image: url("../../resource/images/db0.png") 1 1 1 1 round;
    background:url("../../resource/images/bg9.png") ;
    background-repeat: none repeat scroll -10 0;
}*/

.app-block{
    background: none repeat scroll 0 0 rgba(100, 140, 197, 1);
    padding:5px;
    border: 1px solid #000;
    position: absolute;
    bottom: 50px;
    
}

.app-block .app-item{
    width: 178px;
    height: 130px;
    border:1px solid #000;
    border-color: rgba(100, 140, 197, 1);
    float: left;
}

.app-block .app-item:hover{
    background: none repeat scroll 0 0 rgba(160, 186, 220, 1);
    border:1px solid #000;
    transition: 0.2s linear;
}

.app-block .app-item .title{
    height: 10px;
    padding: 5px;
    text-align: center;
    font-size: 11px;
    line-height: 11px;
    color: rgba(31,49,75,1)
}
.app-block .app-item .title .img{
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    float: left;
    position: absolute;
}

.app-block .app-item .title .close{
    height: 15px;
    width: 15px;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    float: right;
    background-image: url("images/dockbar/close-dock-hover.png");
    cursor: pointer;
}

.app-block .app-item .title .text{
    font-size: 11px;
    float: left;
}
.app-block .app-item .body{
    width: 160px;
    height: 100px;
    background: #fff;
    margin:9px;
    margin-top:4px;
}
